<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenROAD Flow | Designs</title>

    {% include 'common/resources-head.html' %}

    <!-- DataTables CSS -->
    <link href="{% static 'vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        {% include 'common/user/navbar.html' %}

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="page-header">My Designs</h2>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% if imported %}
                <div class="alert alert-success">{{ message }}</div>
            {% else %}
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}
            {% endif %}
            <div class=""></div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Designs live in git-based repos and we link them here
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="designs-table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Design Name</th>
                                        <th class="text-center">Repository URL</th>
                                        <th class="text-center"># Of Flow Runs</th>
                                        <th class="text-center">Last Run</th>
                                        <th class="text-center">Triggers</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for design in designs %}
                                    <tr class="odd gradeA">
                                        <td class="text-center"><a href="{% url 'frontend:design-flows' design.id %}">{{ design.name }}</a></td>
                                        <td class="text-center"><a href="{{ design.repo_url }}" target="_blank">{{ design.repo_url|slice:":30" }} ..</a></td>
                                        <td class="text-center">{{ design.number_of_flow_runs }}</td>
                                        <td class="text-center"><a href="{% url 'frontend:design-flows' design.id %}">{{ design.last_flow_run }}</a></td>
                                        <td class="text-center">
                                            <button class="btn btn-success btn-sm" onclick="triggerFlow({{design.id}})">Run on latest version</button>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-danger btn-sm" onclick="deleteDesign({{design.id}}, '{{design.name}}')">
                                                <i class="fa fa-trash fa-lg"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor%}
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="pull-right">
                        <a class="btn btn-primary" href="#" data-toggle="modal" data-target="#import-design">Import Design</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
        <div id="import-design" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Import Design</h4>
                    </div>
                    <form method="post" action="{% url 'frontend:designs' %}" role="form">
                        {% csrf_token %}
                        <div class="modal-body">
                            <fieldset>
                                <div class="form-group">
                                    <input id="d-name" class="form-control" placeholder="Design Name" name="design_name" type="text" autofocus required>
                                </div>
                                <div class="form-group">
                                    <input id="d-url" class="form-control" placeholder="Repository URL" name="repo_url" type="text" required>
                                </div>
                            </fieldset>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default btn-info pull-left"
                                    onclick="loadExample()">Load Example</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Import</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->

    {% include 'common/resources-scripts.html' %}

    <!-- DataTables JavaScript -->
    <script src="{% static 'vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/datatables-responsive/dataTables.responsive.js' %}"></script>

    <script>
    $(document).ready(function() {
        $('#designs-table').DataTable({
            responsive: true
        });
    });
    function deleteDesign(designId, designName){
        if(window.confirm('Are you sure you want to delete ' + designName + '?')){
            var csrftoken = $("[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: '/user/designs/' + designId,
                type: 'DELETE',
                headers: {
                    "X-CSRFToken": csrftoken
                },
                success: function(result) {
                    window.location.href = '/user/designs';
                }
            });
        }

    }
    function triggerFlow(designId){
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            url: '/user/designs/' + designId + '/flow',
            type: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            success: function(result) {
                window.location.href = '/user/designs/' + designId + '/flows';
            }
        });
    }
    function loadExample(){
        $('#d-name').val("RISCV");
        $('#d-url').val("https://github.com/The-OpenROAD-Project/cloud-flow-example-riscv");
    }
    </script>
</body>

</html>
