<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenROAD Flow</title>

    {% include 'common/resources-head.html' %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'frontend:index' %}">OpenROAD Flow</a>
            </div>
            <!-- /.navbar-header -->

            {% include 'common/public/navbar.html' %}
        </nav>

        <div id="home-page-wrapper">
            <div id="landing-page">
                <div class="introduction">
                    <div class="row">
                        <div class="col-md-6 marketing-message">
                            The Simplest Cloud Platform for EDA
                            <div>
                                Deploy, manage and accelerate your electronic design flows on OpenROAD.
                                We run end-to-end design flows and get your results delivered to your email inbox.

                            </div>
                        </div>
                        <div class="col-md-6 signup-form">
                            <div class="signup-form-box">
                                <div class="row signup-motivation">
                                    Run your flow in seconds
                                </div>
                                <div class="row signup-message">
                                    Get started now
                                </div>
                                {% if signup_failed %}
                                    <div class="row signup-failed">
                                        {{ message }}
                                    </div>
                                {% endif %}
                                <form method="post" action="{% url 'frontend:index' %}" role="form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input class="form-control" name="email" placeholder="Email Address" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-default form-control create-account">Get Started</button>
                                    </div>
                                </form>
                                <div class="row service-agreement">
                                    By signing up, you agree to the <a href="#">Terms of Service</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
        {% include 'common/footer.html' %}
    </div>
    <!-- /#wrapper -->

    {% include 'common/resources-scripts.html' %}
</body>

</html>
