<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OpenROAD Flow | Terms of Service</title>

    {% include 'common/resources-head.html' %}
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'frontend:index' %}">OpenROAD Flow</a>
            </div>
            <!-- /.navbar-header -->

            {% include 'common/public/navbar.html' %}
        </nav>

        <div id="terms-page-wrapper">
            <p>
            Please read these terms of service ("terms", "terms of service") carefully before using
                OpenROAD Flow website (the "service") operated by OpenROAD Team ("us", 'we", "our").
            </p>
            <h4>
                Conditions of Use
            </h4>
            <p>
                We will provide our services to you, which are subject to the conditions stated below in this document.
                Every time you visit this website, use its services or make a purchase, you accept the following conditions.
                This is why we urge you to read them carefully.
            </p>
            <h4>
                Privacy Policy
            </h4>
            <p>
                We don't sell your data to third-parties, nor use it to track you. We don't run on advertisement services.
                We keep track of all your sessions and usage of the web application for our own analytics and to improve
                the service.
            </p>
            <h4>
                Copyright
            </h4>
            <p>
                Content published on this website (digital downloads, images, texts, graphics, logos) is the property of
                OpenROAD and/or its content creators and protected by USA copyright laws.
                The entire compilation of the content found on this website is the exclusive property of OpenROAD,
                with copyright authorship for this compilation by OpenROAD.
            </p>
            <h4>
               Communications
            </h4>
            <p>
                The entire communication with us is electronic. Every time you send us an email or visit our website,
                you are going to be communicating with us. You hereby consent to receive communications from us.
                If you subscribe to the news on our website, you are going to receive regular emails from us.
                We will continue to communicate with you by posting news and notices on our website and by
                sending you emails. You also agree that all notices, disclosures, agreements and other communications
                we provide to you electronically meet the legal requirements that such communications be in writing.
            </p>
            <h4>
                Applicable Law
            </h4>
            <p>
                By visiting this website, you agree that the laws of the United States of America, without regard to principles
                of conflict laws, will govern these terms of service, or any dispute of any sort that might come between
                OpenROAD and you, or its business partners and associates.
            </p>
            <h4>
                Disputes
            </h4>
            <p>
                Any dispute related in any way to your visit to this website or to products you purchase from us
                shall be arbitrated by state or federal court of United States of America and you consent to exclusive
                jurisdiction and venue of such courts.
            </p>
            <h4>
                Comments, Reviews, and Emails
            </h4>
            <p>
                Visitors may post content as long as it is not obscene, illegal, defamatory, threatening, infringing of
                intellectual property rights, invasive of privacy or injurious in any other way to third parties.
                Content has to be free of software viruses, political campaign, and commercial solicitation.
                <br>
                We reserve all rights (but not the obligation) to remove and/or edit such content.
                When you post your content, you grant OpenROAD non-exclusive, royalty-free and irrevocable right to use,
                reproduce, publish, modify such content throughout the world in any media.
            </p>
            <h4>
                Hardware Designs
            </h4>
            <p>
                By submitting your hardware design to our flow pipeline, you acknowledge that we keep track of the design
                and all related artifacts for our own research purposes and service improvements. We don't publish or trade
                your designs to any third-party.
            </p>
            <h4>
                License and Site Access
            </h4>
            <p>
                We grant you a limited license to access and make personal use of this website.
                You are not allowed to download or modify it. This may be done only with written consent from us.
            </p>
            <h4>
                User Account
            </h4>
            <p>
                If you are an owner of an account on this website, you are solely responsible for maintaining
                the confidentiality of your private user details (username and password).
                You are responsible for all activities that occur under your account or password.
                <br>
                We reserve all rights to terminate accounts, edit or remove content and cancel submitted flows
                in their sole discretion.
            </p>

        </div>
        <!-- /#page-wrapper -->
        {% include 'common/footer.html' %}
    </div>
    <!-- /#wrapper -->

    {% include 'common/resources-scripts.html' %}
</body>

</html>
