<ul class="nav navbar-top-links navbar-right">
  <!-- /.dropdown -->
  <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
      </a>
      <ul class="dropdown-menu dropdown-user">
          <li><a><i class="fa fa-user fa-fw"></i> Welcome, Guest!</a>
          </li>
          <li class="divider"></li>
          <li><a href="{% url 'frontend:login' %}"><i class="fa fa-sign-in fa-fw"></i> Login</a>
          </li>
      </ul>
      <!-- /.dropdown-user -->
  </li>
  <!-- /.dropdown -->
 </ul>
<!-- /.navbar-top-links -->