.navbar-default .navbar-brand {
    color: #214a7b;
    font-weight: bold;
}

@media (min-width: 768px) {
  #home-page-wrapper {
    position: inherit;
    padding: 0;
  }
}
#terms-page-wrapper {
  padding: 0 0;
  min-height: 568px;
  margin: 50px;
}

#home-page-wrapper {
  padding: 0 0;
  min-height: 568px;
  background-color: white;
}


.introduction {
    height:90vh;
    width: 100%;
    background: url('/static/images/background.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

.introduction .row {
    margin-right: 0px;
    margin-left: 0px;
}
.introduction .row .marketing-message {
    position: relative;
    padding-top: 13%;
    padding-left: 10%;
    font-size: 60px;
    font-weight: bold;
    color: white;
}
.introduction .row .marketing-message div {
    font-size: 24px;
    font-weight: normal;
    text-shadow: 1px 1px 2px black;
}

.introduction .row .signup-form {
    position: relative;
    margin-top: 12%;
    padding-left: 3%;
    padding-right: 10%;
    font-size: 30px;
    text-align: center;
}

.introduction .row .signup-form .signup-form-box {
    position: relative;
    color: #214a7b;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}

.signup-form-box form .form-group {
    padding-left: 30px;
    padding-right: 30px;
}
.signup-form-box .signup-motivation {
    padding-top: 25px;
    font-weight: bold;
}
.signup-form-box .signup-message {
    padding-bottom: 20px;
    color: black;
}

.signup-form-box form .form-group .form-control{
    height: 46px;
    font-size: 20px;
}
.signup-form-box .service-agreement {
    font-size: 14px;
}
.signup-form-box form .form-group .create-account {
    background: #214a7b;
    color: white;
}
.signup-form-box .service-agreement {
    padding-bottom: 30px;
}
.signup-failed {
    color: red;
    font-size: 16px;
    padding-bottom: 10px;
}
footer .row {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

#live-monitoring {
    background: black;
    height: 430px;
    overflow-y: scroll;
    color: white;
    padding: 10px;
    font-family: fixedsys, consolas, monospace;
}
.back-button {
    padding-top: 20px;
    font-size: 16px;
}
.btn-circle {
    width: 20px;
    height: 20px;
    padding: 1px 1px;
}